nav a{
    margin-right: 20px;
}
nav a.active{
    font-weight: bold;
    text-decoration: underline;
    background-color: lightblue;
    color: blue;
}
nav a.error{
    font-weight: bold;
    text-decoration: underline;     
    color: red;
}